body{
    /* background-color: #d1dddb; */
    background-color: #499360;
}
.div3{
    background-color: #295651;
    margin: auto;
    text-align: center;
    /* border: 1px solid blue; */
    width: 80%;
    margin-top: 30px;
    animation: 3s slide ease-in-out;
    box-shadow: 5px 5px  #97baa4;
    border-top-left-radius: 40px;
}
button{
    height: 30px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #adc7b6;

}
#oolll {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    animation: 2s infinite bounce ease-in-out;
}
@keyframes bounce {
    0%{
        transform: translateY(-1vh);
    }
    100%{
        transform: translateY(1px);
    }
}
ul{
    display:block;
}
img{
    border-radius: 50%;
    margin-top: 4px;
}
@keyframes slide {
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(0px);
    }
}
@media (max-width:500px){
    .div1{
        width: 80vw;
        
        height: 40vh;
        margin-bottom: 30vh;
    }
    img{
        /* margin-left: ; */
        height: 150px;
        width: 150px;
        /* margin-right: 20px; */
    }
    .fet1{
        height: 30px;
        width: 150px;
        border-radius: 30px;
        font-size: 20px;
    }
    
    button{
        height: 30px;
        width: 100px;
        font-size: 13px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

}
@media (max-width:350px){
    .div1{
        width: 80vw;
        
        height: 40vh;
        margin-bottom: 30vh;
    }
    img{
        /* margin-left: ; */
        height: 100px;
        width: 100px;
        /* margin-right: 20px; */
    }
    .fet1{
        height: 30px;
        width: 100px;
        border-radius: 30px;
        font-size: 20px;
    }
    
    button{
        height: 30px;
        width: 100px;
        font-size: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

}